/*---------Base-----------*/
@font-face {
  font-family: roboto;
  src: url(../font/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto;
  src: url(../font/Roboto-Bold.ttf);
  font-weight: bold;
}


* {
  font-family: roboto;
  touch-action: manipulation;
  /*!disable mobile double-tap zoom on any element*/
}

.underline {
  text-decoration: underline;
}

body {
  /*must*/
  margin: 0;
  /*default text color*/
  color: rgb(58, 58, 58);
  /* height: 200vh; */
  background-color: #fafafa;

  /*for empty footer*/
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.laptop-width {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  position: relative;

  /* outline: 1px solid red; */
}

/*-------------------------------------------*/
/*--------------top-section------------------*/
/*-------------------------------------------*/
#top-section {
  /* background-color: yellow; */
  height: 90px;
  display: flex;
  font-size: 2em;
  font-weight: bold;
  justify-content: center;
}
#top-section p{
  visibility: hidden;
  margin-top: 40px;
}

/*-------------------------------------------*/
/*--------------about-section------------------*/
/*-------------------------------------------*/


/* --------------------------------- */
/* -----@media !must in bottom!----- */
/* --------------------------------- */
@media (max-width:900px) {

  #top-section p {
    visibility: visible;
  }

  #title-box {
    height: 100px;
    max-width: 340px;
    font-size: 1.4em;
  }
}