@font-face {
  font-family: jetFont;
  src: url(../font/JetBrainsMono-Bold.woff2);
}
@font-face {
    font-family: jetFont;
    src: url(../font/JetBrainsMono-ExtraBold.woff2);
    font-weight: bold;
}
*{
    font-family: jetFont;
    touch-action: manipulation;/*!disable mobile double-tap zoom on any element*/
}

body{
    margin: 0; /*required*/
}
/* positioning */
.laptop-width{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    /* outline: 1px solid black; */
  }

#hero-section h1{
    font-size: 5em;
    height: 120vh;
}


