/*---------Base-----------*/
@font-face {
  font-family: roboto;
  src: url(../font/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto;
  src: url(../font/Roboto-Bold.ttf);
  font-weight: bold;
}


* {
  font-family: roboto;
  touch-action: manipulation;
  /*!disable mobile double-tap zoom on any element*/
}

.underline {
  text-decoration: underline;
}

body {
  /*must*/
  margin: 0;
  /*default text color*/
  color: rgb(58, 58, 58);
  background-color: #fafafa;


  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.laptop-width {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  position: relative;

  /* outline: 1px solid red; */
}

/*--------------------------------------------*/
/*-------------hero-section-------------------*/
/*--------------------------------------------*/
#hero-section {
  height: 320px;
  width: 100%;
  background: white;

}

#hero-div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero-div img {
  width: 300px;
  max-width: 54%;
}

/*--------------------------------------------*/
/*-------------feature-section----------------*/
/*--------------------------------------------*/
#feature-section {
  /* display: none; */
}

#feature-area {
  padding-top: 30px;
  padding-bottom: 30px;
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.panel-hr {
  width: 90%;
  color: rgb(204, 204, 204);
}

.panel {
  width: 900px;
  max-width: 95%;
  /* background-color: red; */
  /* border-radius: 10px; */
  /* filter: drop-shadow(0px 2px 5px #0f0f0f41); */

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;
}

.title-img {
  width: 350px;
}

.panel-trailer {
  position: relative;
  width: 100%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.panel-desc {
  width: 100%;
  font-size: 1.3em;
}


.panel-store {
  border: 2px solid rgb(207, 207, 207);
  background-color: #fafafa;
  border-radius: 8px;
  width: 100%;

  padding: 20px 0;
  font-size: 1.3em;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.panel-store p {
  margin: 0;
}

.store-title {
  margin: 0;
  padding-bottom: 12px;
  font-size: 1.1em;
}

.panel-store a {
  /* color: rgb(0, 140, 255); */
  color: rgb(255, 140, 9);
  padding: 0 5px;
}

.store-links {
  text-align: center;
  padding: 5px 0;
}

.btn-a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4898ff;
  color: white;
  text-decoration: none;
  border: 2px solid #4898ff;
  border-radius: 5px;
  cursor: pointer;
}

.btn-a:hover {
  color: #4898ff;
  background-color: transparent;

}

.presskit {
  font-size: 1em;
  color: rgb(97, 97, 97);
}



/* --------------------------------- */
/* -----@media !must in bottom!----- */
/* --------------------------------- */

@media(max-width:900px) {
  .panel-desc {
    font-size: 1em;
  }

  .panel-store {
    font-size: 1em;
  }

  .title-img {
    width: 250px;
    max-width: 80%;
  }


}