/*---------Base-----------*/
@font-face {
  font-family: jetFont;
  src: url(../font/JetBrainsMono-Bold.woff2);
}

@font-face {
  font-family: jetFont;
  src: url(../font/JetBrainsMono-ExtraBold.woff2);
  font-weight: bold;
}

* {

  font-family: jetFont;
  touch-action: manipulation;
  /*!disable mobile double-tap zoom on any element*/
}

.underline {
  text-decoration: underline;
}

body {
  /*must*/
  margin: 0;
  /*default text color*/
  color: rgb(52, 52, 52);
  /* height: 200vh; */
}

.laptop-width {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  position: relative;

  /* outline: 1px solid red; */
}

/*-------------hero-section-------------------*/
#hero-section {
  height: 400px;
  width: 100%;
  background: linear-gradient(to bottom right, rgb(68, 146, 255), rgb(78, 222, 255));
  /* background-image... */
}

#intro-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  font-size: 1.5em;
}

#intro-area h1 {
  margin-top: 20px;
  margin: 0;
  text-align: center;
}


/*-------------feature-section-------------------*/
#feature-section{
  background-color: #bcecff;
}
#feature-title-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#feature-title {
  font-size: 2.4em;
  background: linear-gradient(to right, rgb(255, 153, 0), rgb(255, 196, 0));
  -webkit-background-clip: text;
  /* For Safari */
  background-clip: text;
  color: transparent;
}

/*part2*/

#feature-container {
  /* background-color: lightblue; */
  height: 100vh;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  gap: 20px;
}

.feature-item {
  background-color: white;
  width: auto;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16px;
  border-radius: 20px;
  filter: drop-shadow(0px 2px 5px #0f0f0f41);

  margin: 0 10px;
  /*remove when mobile-1*/
}

.row-reverse {
  flex-direction: row-reverse;
}

.description {
  /* background-color: red; */

  font-size: 1.4em;
  align-self: center;
  text-align: center;

  flex-grow: 1;
  /*remove when mobile-2*/

  width: 500px;
  max-width: 90%;

}

/*-frame-*/
.image-frame {
  position: relative;
  overflow: hidden;
  border-radius: 20px;

  width: 380px;
  height: 280px;

  display: flex;
  justify-content: center;
}

.image-frame img {
  height: 100%;
  object-fit: contain;

  transition: 0.3s;
}

.image-frame:hover img {
  transform: scale(1.1);
}

.text-area {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.50);

  transition: 0.3s;
  color: #FFFF;

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.text-area h1 {
  margin: 0;
}

.text-area p {
  margin: 0;
  font-size: 1.5em;
}

.text-area:hover {
  opacity: 0;
}