html {
  background-color: white;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

body {
  margin: 0;
  /*temp*/
  height: 250vh;
  background-color: white;
}

body {
  
}

.c-white {
  color: #F6F7FB;
}
.c-darkgray {
  background-color: #34445c;
}

.c-paleblue {
  color: #98c0fc;
}

.c-lightblue {
  color: #45abf0;
}




/*--------------------------------*/
#top-nav {
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.9); /* transparent */

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  height: 50px;
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  /*(that gradian line)*/
  border-bottom: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, transparent, grey ,transparent);
}

#top-page{
  background-color: rgba(255, 255, 0, 0.2);
}
/*--------language selector-------*/

.lan-selectWrapper{
  display:inline-block;
  overflow:hidden;
  font-size: 0.5 em;
  padding-right: 15px;
}
.lan-selectBox{
  font-size: 1em;
  width:auto;
  height:30px;
  border:5px;
  outline:none;
}
option{
  font-size: 1.2em;
}
/*-------------ul li-------------------*/

#top-nav>div>ul>li {
  /* list-style: none;*/
  display: inline;
  margin: 0 20px;
  font-size: large;
}


.underline {
  position: relative;
  text-decoration: none;
  color: black;
}

.underline::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 140%;
  left: -20%;
  bottom: 0;
  background-color: rgb(19, 19, 19);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.1s ease-in-out;
}

.underline:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/*-------------Intro-------------------*/
#intro-bg {
  background-color: aquamarine;
  padding-top: 5%;
  padding-bottom: 5%;
}

#intro-card {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  /*center it*/
  background-image: linear-gradient(to bottom right, rgb(92, 161, 255), rgb(58, 220, 255));
  border-radius: 20px;
  max-width: 100%;
}

#intro-card div {
  color: white;
  padding-left: 5%;
  padding-top: 2%;
  font-size: 2em;

}

/*-------------footer-------------------*/
footer {
  /*background-color: rgb(197, 197, 197);*/
  font-size: small;
  font-weight: normal;
  text-align: center;
}

/* -----@media !must in bottom!----- */

@media (max-width:800px) {
  footer{
    background-color: red;
  }
}
@media (max-width:500px) {
  footer{
    background-color: blue;
  }
}