html {
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 1000;
}

body {
  margin: 0;
  height: 250vh; /*temp!!!*/
  background-color: white;
}
/*--------------------------------*/
#top-nav {
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*Ever child item horizontal*/
}


/*-------------ul li-------------------*/

#top-nav>div>ul>li {
  /* list-style: none;*/
  display: inline;
  margin: 0 20px;
  font-size: large;
}


.underline {
  position: relative;
  text-decoration: none;
  color: black;
}

.underline::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 140%;
  left: -20%;
  bottom: 0;
  background-color: rgb(19, 19, 19);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.1s ease-in-out;
}

.underline:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/*------------Email Button--------------------*/

#btn-contact {
  font-size: large;
  height: 40px;
  width: 160px;
  border: 2px solid black;
  border-radius: 1em;
  color: black;
  background-color: white;
  transition: 150ms ease-in-out;

}

#btn-contact:hover {
  border: 3px solid black;
  color: white;
  background-color: black;
  cursor: pointer;
}
/*-------------Intro-------------------*/
#intro-bg{
  background-color: aquamarine;
  padding-top:5%;
  padding-bottom: 5%;
}
#intro-card {
  width: 800px;
  height: 500px;
  margin: 0 auto;/*center it*/
  background-image: linear-gradient(to bottom right, rgb(92,161,255), rgb(58, 220, 255));
  border-radius: 20px;
  max-width: 100%;
}

#intro-card div{
  color: white;
  padding-left: 5%;
  padding-top: 2%;
  font-size: 2em;

}

/*-------------footer-------------------*/
footer{
  /*background-color: rgb(197, 197, 197);*/
  font-size: small;
  font-weight: normal;
  text-align:center;
}