html {
  background-color: white;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

body {
  margin: 0;
  /*temp*/
  height: 250vh;
  background-color: white;
}


.c-white {
  color: #F6F7FB;
}
.c-darkgray {
  background-color: #34445c;
}

.c-paleblue {
  color: #98c0fc;
}

.c-lightblue {
  color: #45abf0;
}




/*--------------------------------*/
#top-nav {
  position: sticky;
  top: 0;
  height: 50px;
  /* background: rgba(255, 255, 255, 0.795); [transparent] */
  background: linear-gradient(to top, transparent,rgba(255, 255, 255, 0.644)40%, white 90%);
  
/*   
  [that gradian line]
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, transparent , rgba(0, 0, 0, 0.753) 40% ,transparent ); */
}

#top-page{
  /* background-color: rgba(107, 107, 107, 0.2); */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#imglogo{
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
}

/*-------------ul li-------------------*/

#top-nav>div>ul>li {
  /* list-style: none;*/
  display: inline;
  margin: 0 20px;
  font-size: large;
}


.underline {
  position: relative;
  text-decoration: none;
  color: black;
}

.underline::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 140%;
  left: -20%;
  bottom: 0;
  background-color: rgb(19, 19, 19);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.1s ease-in-out;
}

.underline:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/*-------------Home Page-------------------*/
#intro-bg {
  background-color: #cde6f1; /*#cfe0e7;*/
  padding-top: 5%;
  padding-bottom: 5%;
}

#intro-card {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  /*center it*/
  background-image: linear-gradient(to bottom right, rgb(92, 161, 255), rgb(58, 220, 255));
  border-radius: 20px;
  max-width: 100%;
}

#intro-card div {
  color: white;
  padding-left: 5%;
  padding-top: 2%;
  font-size: 2em;

}

/*-------------footer-------------------*/
footer {
  /*background-color: rgb(197, 197, 197);*/
  font-size: small;
  font-weight: normal;
  text-align: center;
}

/* -----@media !must in bottom!----- */

@media (max-width:800px) {
  footer{
    background-color: red;
  }
}
@media (max-width:500px) {
  footer{
    background-color: blue;
  }
}