body{
    margin: 0; /*required*/
}
#page-curtain {
    display: none;
    z-index: 199;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(17, 17, 17, 0.5);
}

/*-------------Desktop Menu-------------------*/
#top-bar {
    position: sticky;
    z-index: 100;

    top: 0;
    height: 50px;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    
    display: flex;
    align-items: center;
    justify-content: center;

}

#menu-container {
    margin: 10px auto;
    width: auto;
}

#menu-container a {
    padding: 10px 25px;
    /*! increase clickable area !*/
    margin: 0 20px;
    font-size: 1em;
    font-weight: bold;
    color: #1d2633;
    text-decoration: none;
}

.menu-option {
    opacity: 0.6;
    margin: 0 auto;
}

.menu-option:hover {
    opacity: 1;
    cursor: pointer;
}

#desk-current {
    opacity: 1;
}

/*-------------Mobile Menu-------------------*/
#hamburger {
    z-index: 999;
    display: none;
    position: fixed;

    /* outline: 1px solid black; */
    background-color: #ececec;
    border-radius: 100%;

    width: 40px;
    height: 40px;
    left: 8px;
    top: 5px;

}

#hamburger-img {
    z-index: 999;
    position: absolute;
    height: 80%;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}
/*---------------------------------------------*/

#m-menu {
    display: none;
    z-index: 200;
    width: 40%;
    min-width: 224px;
    height: 100%;
    margin-top: -50px;
    min-height: 300px;
    background: white;
    position: fixed;
}

#m-option-container {
    margin-top: 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.m-option {
    display: inline-block;
    background-color: #e3e3e3;
    ;
    width: 90%;
    color: black;
    padding: 10px 0;
    margin: 6px 0;
    text-align: center;
    text-decoration: none;
    /* border: 1px solid #1d2633;  */
    border-radius: 25px;
    cursor: pointer;
}

.m-current {
    color: white;
    background: linear-gradient(to right, rgb(46, 205, 253), rgb(40, 115, 255));
    /* border-color: #67b3ff */
}


/* --------------------------------- */
/* -----@media !must in bottom!----- */
/* --------------------------------- */
@media(min-width:899px) {
    #m-menu {
        visibility: hidden;
        /*visibility: hidden != display: none*/
    }

    #page-curtain {
        visibility: hidden;
    }
}

@media (max-width:900px) {

    #menu-container {
        display: none;
    }

    #hamburger {
        display: block;
    }

}