/*---------Base-----------*/
@font-face {
  font-family: roboto;
  src: url(../font/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto;
  src: url(../font/Roboto-Bold.ttf);
  font-weight: bold;
}


* {
  font-family: roboto;
  touch-action: manipulation;
  /*!disable mobile double-tap zoom on any element*/
}

.underline {
  text-decoration: underline;
}

body {
  /*must*/
  margin: 0;
  /*default text color*/
  color: rgb(58, 58, 58);
  /* height: 200vh; */
  background-color: #fafafa;

  /*for empty footer*/
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.laptop-width {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  position: relative;

  /* outline: 1px solid red; */
}

/*-------------------------------------------*/
/*--------------top-section------------------*/
/*-------------------------------------------*/
#top-section {
  /* background-color: yellow; */
  height: 90px;
  display: flex;
  font-size: 2em;
  font-weight: bold;
  justify-content: center;
}
#top-section p{
  visibility: hidden;
}

/*-------------------------------------------*/
/*--------------card-section---------------*/
/*-------------------------------------------*/
#card-area {
  background-color: aquamarine;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#card-container {
  background-color: pink;
  /* height: 10vh; */
  width: 100%;
  max-width: 900px;
  margin: 20px 0;
  /* min-height: 73vh; */

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
#card-container hr{
  width: 90%;
}

.card {
  width: 95%;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  filter: drop-shadow(0px 2px 5px #0f0f0f41);
}

.frame {
  background-color: greenyellow;
	border-top: 100px solid #555;
	border-right: 30px solid transparent;

	height: 0;
  width: 30%;
  min-width: 200px;
}

/* --------------------------------- */
/* -----@media !must in bottom!----- */
/* --------------------------------- */
@media (max-width:900px) {
  #top-section p{
    visibility: visible;
  }

  #title-box {
    height: 100px;
    max-width: 340px;
    font-size: 1.4em;
  }
}