/*---------Base-----------*/
@font-face {
  font-family: roboto;
  src: url(../font/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto;
  src: url(../font/Roboto-Bold.ttf);
  font-weight: bold;
}


* {
  font-family: roboto;
  touch-action: manipulation;
  /*!disable mobile double-tap zoom on any element*/
}

.underline {
  text-decoration: underline;
}

body {
  /*must*/
  margin: 0;
  /*default text color*/
  color: rgb(58, 58, 58);
  /* height: 200vh; */
  background-color: #fafafa;

  /*for empty footer*/
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.laptop-width {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  position: relative;

  /* outline: 1px solid red; */
}

/*-------------------------------------------*/
/*--------------top-section------------------*/
/*-------------------------------------------*/
#top-section {
  /* background-color: yellow; */
  height: 90px;
  display: flex;
  font-size: 2em;
  font-weight: bold;
  justify-content: center;
}

#top-section p {
  visibility: hidden;
  margin-top: 40px;
}

/*-------------------------------------------*/
/*--------------card-section---------------*/
/*-------------------------------------------*/
#card-area {
  /* background-color: aquamarine; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#card-container {
  width: 100%;
  max-width: 900px;
  margin: 20px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#card-container hr {
  width: 90%;
}

.card {
  width: 95%;
  background-color: #fafafa;
  border-radius: 10px;

  overflow: hidden;
  display: flex;
}
.card-text{
  flex: 1;
  /* background-color: gold; */
  border-radius: 20px;
}

.frame {
  background-color: grey;
  height: 180px;
  width: 260px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  /* clockwise */
  clip-path: polygon(0 0, 0 100%, 90% 100%,100% 0);
}

.frame img {

  object-fit: cover;
  transition: 0.3s;
  position: relative;
  /* height:450px;  */
}
.card:hover{
  cursor: pointer;
  filter: drop-shadow(0px 2px 5px rgba(15, 15, 15, 0.41));
}
.card:hover .frame img {
  transform: scale(1.2);
  
}

/* --------------------------------- */
/* -----@media !must in bottom!----- */
/* --------------------------------- */
@media (max-width:900px) {
  #top-section p {
    visibility: visible;
  }

  #title-box {
    height: 100px;
    max-width: 340px;
    font-size: 1.4em;
  }
  .card{
    /* height: 500px; */
    min-height: 350px;
    width: auto;
    max-width: 100%;
    /* background-color: bisque; */
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow: hidden;

    filter: drop-shadow(0px 2px 5px rgba(15, 15, 15, 0.41));
  }
  .frame{
    clip-path: none;
    width: 300px;
    height: 200px;
    max-width: 100%;
  }
  .card-text{
    /* min-height: 500px; */
    width: 300px;
    max-width: 100%;
  }
  #card-container hr {
    /* max-width: 300px; */
    /* display: none; */
    visibility: hidden;
  }
}